language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-xlib
 - pip install PyVirtualDisplay

script:
 - nosetests -v tests/test_unix.py
