language: python
python:
  - "2.6"
  - "2.7"

install:
 - pip install -r requirements-test.txt
 - pip install .
 - pip install coveralls

script:
 - xauth add :0 . `mcookie` 
 - cd tests && nosetests -v --with-coverage --cover-package=pymouse  test_unix.py
 
after_success:
 - coveralls
