language: python
python:
  - "2.6"
  - "2.7"

install:
 - pip install PyVirtualDisplay
 - pip install http://downloads.sourceforge.net/project/python-xlib/python-xlib/0.14/python-xlib-0.14.tar.gz

script:
 - xauth add :0 . `mcookie` 
 - nosetests -v tests/test_unix.py
